{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "YOUR_STORAGE_CONNECTION_STRING",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "DOCINTELLIGENCE_ENDPOINT": "YOUR_DOCUMENT_INTELLIGENCE_ENDPOINT",
    "DOCINTELLIGENCE_KEY": "YOUR_DOCUMENT_INTELLIGENCE_KEY",
    "AZURE_OPENAI_ENDPOINT": "YOUR_OPENAI_ENDPOINT",
    "AZURE_OPENAI_KEY": "YOUR_OPENAI_KEY",
    "AZURE_OPENAI_DEPLOYMENT": "YOUR_DEPLOYMENT_NAME"
  }
}
